
body {
    background-color: lemonchiffon;
    color:maroon;
    font-size: larger;
    font-family: "Georgia", serif;
}

h1 {
    font-size: 3em;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    border: 3px solid maroon;
}

ol li {
    margin: 8px 0px;
}

.recipe-list {
    font-size: larger;
    margin: 5% 30%;
    border: 1px solid maroon;
}

.ingredient-list {
    font-size: .9em;
    color: rgb(50, 0, 0);
}

.recipe-steps {
    color: rgb(100, 0, 0);
}

.home {
    /* position: fixed;
    margin: 0 auto;
    bottom: 0; */
}